<header>
  <app-header-landing></app-header-landing>
</header>

<main>
    <div id="imagenRegistro"></div>
    <div id="contenedorForm">
        <form class="example-form"  [formGroup]="registerForm" #formDirective=ngForm   (ngSubmit)="onSubmit(formDirective)">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombre completo:</mat-label>
              <input name="fullName" matInput formControlName="fullName" required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email:</mat-label>
              <input name="email" matInput formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Contraseña:</mat-label>
              <input name="password" matInput formControlName="password" required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Dirección:</mat-label>
              <input name="address" matInput formControlName="address" required>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Teléfono:</mat-label>
              <input name="cellPhone" matInput formControlName="cellPhone" required>
            </mat-form-field>
            <fieldset id="fieldSubmit">
                <button type="submit" mat-button [disabled]="!registerForm.valid" color='primary'>Registrar</button>
                <!-- <a routerLink="">Iniciar sesion</a> -->
            </fieldset>
        </form>
    </div>
</main>
