<header>
    <app-header-landing></app-header-landing>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="presentacion">
                    <h1 class="display-4">Bienvenido a TodoIT! Tu mejor solución</h1>
                    <p class="lead">Somos TodoIT, una compañia especializada en buscar, reparar y optimizar todos tus equipos informáticos.</p>
                    <hr class="my-4">
                    <p>Un cadete pasará por tu casa a retirar tu PC o notebook y nuestros especialistas la van a chequear y diagnosticar para ver dónde se encuentra la falla y repararla!</p>
                    <p class="lead">
                        <a mat-button color="primary" [routerLink]="['/signUp']" routerLinkActive="router-link-active" role="button">Registrate para conocer más</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="prueba">
        <img src="../../../assets/home-landing.jpg">
    </div>
</main>

